Este arquivo é utilizado somente para testes e resolução de bugs. Para informações sobre o projeto, consultar o readme.md

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('data/0_raw/raw_data.csv')
df.sample(10)

,id,name,email,date_of_birth,signup_date,subscription_status
24854,24855,Jessica Johnston,isaiah65@example.com,1977-11-03,2024-02-12,inactive
92566,92567,NaN,wuandrea@example.org,1959-03-23,2024-05-06,inactive
15296,15297,Jose Taylor,lisabeckerexample.com,NaN,2022-11-30,active
89895,89896,Jacob Adams,ryanjones@example.net,1983-12-23,2023-07-25,inactive
16684,16685,NaN,grimesjessicaexample.org,1940-09-18,2022-08-10,active
71648,71649,Shannon Carlson,NaN,1942-07-31,2023-11-09,active
96223,96224,NaN,melissaboyleexample.org,1959-01-16,2020-11-15,active
85584,85585,NaN,jennifer14@example.com,2004-10-07,2022-08-25,inactive
21786,21787,Susan Wright,NaN,NaN,2023-03-14,inactive
8928,8929,Charlene Marshall,NaN,2004-11-06,2022-03-20,active

In [10]:
df["subscription_status"].value_counts()

subscription_status
inactive    50081
active      49918
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   99999 non-null  int64
 1   name                 75113 non-null  object
 2   email                74953 non-null  object
 3   date_of_birth        74828 non-null  object
 4   signup_date          99998 non-null  object
 5   subscription_status  99999 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB

In [12]:
df['email'].duplicated().sum()

np.int64(30084)

raw -> Bronze
- Tratamento de duplicatas
- Tratamento de nulos
- Transformação de datas em datetime
- Subscription status as boolean?
- validação dos emails usando regex. Corrigir os erros mais comuns
    - Falta do @. Colocar antes da string 'example'
    - Falta do .com
- ordenação por signup date

Bronze -> Prata
- Criação da feature age
- Criação da feature signup_time

In [8]:
# Silver to gold bug hunt

df = pd.read_csv(r'data\2_silver\silver.csv')
df

,id,name,email,date_of_birth,signup_date,subscription_status,age
0,3,bob johnson,bob.johnson@example.com,1977-03-30,2018-12-12,inactive,48
1,2,jane smith,jane.smith@example.com,1990-05-22,2019-06-17,active,34
2,69051,allen alvarez,lisagillespie@example.com,2000-08-22,2020-01-01,active,24
3,83557,andrew mata,jharrison@example.org,1980-11-13,2020-01-01,inactive,44
4,34184,tina barber,ebyrd@example.net,1985-09-15,2020-01-01,inactive,39
...,...,...,...,...,...,...,...
39555,83956,barbara sellers,jthornton@example.com,1964-02-23,2024-06-02,inactive,61
39556,14332,rebecca summers,sarah74@example.com,1945-12-14,2024-06-02,inactive,79
39557,64937,terry hamilton,mross@example.net,1953-07-24,2024-06-02,active,71
39558,5368,kevin jordan,ubaker@example.net,1949-10-04,2024-06-02,inactive,75
39559,5,charlie black,charlie.black@example.com,1988-11-23,NaN,inactive,36